* {
    margin: 0px;
    padding: 0px;
}

h2 {
    text-align: center;
    font-size: large;
}


.contenedor_flex {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.subcontenedor_flex1 {
    display: flex;
    justify-content: flex-start;
    background-color: beige;
}

.subcontenedor_flex2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: beige;
}


.div_form {
    padding-left: 10px;
    margin-top: 10px;
}

#div_button {
    align-self: flex-end;
    justify-self: flex-start;
}

#form1 {
    justify-self: flex-end;
}

.headers:hover {
    color: blue;
}

.key_class:hover {
    color: blue;
}

#div_show {
    width: 80%;
    height: auto;
    background-color: beige;
    position: absolute;
    top: 10%;
    left: 10%;
    border: 2px black solid;
    border-radius: 20px;
    padding: 10px;
}

#div_show img {
    align-self: flex-end;
}

.titulo_issue {
    font-size: 20px;
    font-weight: bold;
}